@import 'tailwindcss';
@plugin "daisyui";

@theme {
  --color-brand-yellow: #fcd34d;
  --color-brand-yellow-light: #fef3c7;
  --color-brand-gray: #374151;
  --color-brand-gray-light: #d1d5db;
}

body {
  background-color: #fef3c7;
  transition: background-color 0.3s ease;
}

@layer utilities {
  input[type='search']::-webkit-search-cancel-button {
    cursor: pointer;
  }
}
